<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="post" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="lastName">Lastname</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>