<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список Юзеров</title>
</head>
<body>

<!--/*@thymesVar id="usersList" type=""*/-->
<div th:each="user : ${usersList}">
   <!-- <a th:text="${user.getName()}">person</a>
    <a th:text="${user.getLastName()}">person</a> -->
    <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a>
</div>
<br>
<hr>

<a href="/users/new">Create new user</a>
</body>
</html>